<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
    body
        h2 Confirma Tu cuenta en AdminTareas
        p Ya estas casi registrado, solo presiona el siguiente boton
        a(href=`${confirmarUrl}`) Confirmar Cuenta
        p si no puedes acceder a este enlace, visita #{confirmarUrl}
        p si no solicitaste tu el email, ignoralo.